<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="author" content="Kenneth Hu">
    <title>Web3js</title>



</head>
<body>
    <div class="container">
		<form method="post" action="generatesccode">
         
            <label>Token Name:&nbsp;:&nbsp;</label>
            <input type="text" name="tokenname">    <br> 
            <br>
            <label>Smartcontract:&nbsp;</label>
            <textarea  name="sccode" rows="14" cols="50">
                </textarea>
                <!-- <br> <label>bytecode&nbsp;</label>
                <textarea  name="bytecode" rows="14" cols="50">
                    </textarea> -->
                    <br>
                <br><br> <label>address:&nbsp;:&nbsp;</label>
                <input type="text" name="addresss">    <br> 
                <input type="submit">
                </form>
               
                <br>

               
    </div>

   
   
</body>
<script>
    // MetaMask injects the web3 library for us.
   
    </script>
</html>