body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.form-toggle{
  position: relative;
  width:100%;
  height:auto;
}


.form-modalID{
  position:relative;
  width:600px;
  height:auto;
  margin-top:6em;
  margin-bottom: 4em;
  left:50%;
  transform:translateX(-50%);
  background:#fff;
  border:2px solid rgb(78, 40, 184);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow:0 3px 20px 0px rgba(235, 12, 12, 0.1);
  
  
}

